<html>
  <body>
    <form action="" method ="get">
    <button formaction="/" type="submit"><|--</button>
    </form>
    <form action ="" method="post">
      <button formaction="/" type="submit" name ="delete_coll">Delete collection</button>
    </form>
  <h2>{{collection_name}}</h2>

    <h2>Contents</h2>
    <!--makes things look nice-->
    <fieldset>
      <ul>
        {{#documents}}
        <li>{{.}}</li>
        {{/documents}}
      <ul>
    </fieldset>
    <h2>Enter</h2>
    <form action="" method ="post">
      <fieldset>
        <label for "key">Key: </label>
        <input type="text" id="key" name="key" placeholder=""/>
        <br/>
        <label for "value">Value: </label>
        <input type="text" id="value" name ="value" placeholder=""/>
        <br/>
        <button formaction="/enter" type="submit" onclick="update_hashed('something')">-->[...]</button>

      </fieldset>
    </form>
    <h2>Search &amp; Update</h2>
    <form action= "" method ="post">
      <fieldset>
        <label for "search_value">Key: </label>
        <input type="text" id="name" name="search_value" placeholder=""/>
        <br/>
        <button formaction="/search" type="submit" onclick="update_retrieval('something')"><--[...]</button>
        <div id="retrieval_stuff">
          <br/>
          <br/>
          <label for "found">Found Value: </label>
          <input type="text" name="found" value={{previous}}>
          <br/>
          <button formaction="/update" type="submit">-->[+/-...]</button>
          <button formaction="/delete" type ="submit">Delete</button>
        </div>
        </fieldset>


    </form>
  </body>
</html>
