<html>
  <body>
    <form action ="" method ="post">
      <select style="max-width:90%;" name="which_coll">
        {{#collections}}
        <option value={{.}}>{{.}}</option>
        {{/collections}}
        <!-- <option>a</option>
        <option>b</option>
        <option>c</option>
        <option>d</option> -->

      </select>
      <button formaction ="/" type="submit">-></button>
    </form>
    <!--chose which collection and then load the
    contents of that page
    Is there a better way than just rendering links??-->
  </body>
</html>
